!!!
%html

  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'Description', :content => "You've found Paul Annesley, lead developer at 99designs. Paul rides fixed, loves coffee, writes code and builds the Internet. Well, some of it." }
    %title= (@subtitle ? @subtitle + ' &#8212; ' : '') + 'paul.annesley.cc'
    %link{ :rel => :alternate, :type => 'application/atom+xml', :title => 'Recent Blog Posts on paul.annesley.cc', :href => 'http://feeds.feedburner.com/paulannesley' }
    %link{ :rel => :stylesheet, :type => 'text/css', :href => '/static/pacc.css' }
    %link{ :rel => 'openid.server', :href => 'http://www.myopenid.com/server' }
    %link{ :rel => 'openid.delegate', :href => 'http://pda.myopenid.com/' }

  %body

    #page

      %header
        %h1
          %a{ :href => '/' } paul.annesley.cc

      #main

        #sidebar

          #profile
            %h2 Profile
            %a{ :href => '/about' }
              %img{ :width => 76, :height => 76, :src => '/static/paul-annesley.jpg', :alt => 'Paul Annesley' }
            %p
              You've found
              <a rel="me" title="Paul Annesley" class="name" href="/about">Paul<span class="lastname"> Annesley</span></a>,
              lead developer at
              <a href="http://99designs.com/">99designs</a>.
            %dl
              %dt Paul<span class="lastname"> Annesley</span>
              %dd rides fixed
              %dd loves coffee
              %dd writes code
              %dd builds the Internet
            %p
              Well, some of it.

          #elsewhere
            %h2 Elsewhere
            %ul
              %li.twitter
                %a{ :href => 'http://twitter.com/pda', :rel => 'me' } Twitter
                %span tweets as pda
              %li.github
                %a{ :href => 'http://github.com/pda', :rel => 'me' } GitHub
                %span codes as pda
              %li.delicious
                %a{ :href => 'http://delicious.com/paul.annesley', :rel => 'me' } Delicious
                %span links as paul.annesley
              %li.linkedin
                %a{ :href => 'http://au.linkedin.com/in/paulannesley', :rel => 'me' } LinkedIn
                %span networks as Paul Annesley
              %li.flickr
                %a{ :href => 'http://flickr.com/photos/paulannesley/', :rel => 'me' } Flickr
                %span points & shoots seldom

        #content
          = yield

      %footer{ :title => 'EOF' }

      %script{ :src => 'http://www.google-analytics.com/urchin.js', :type => 'text/javascript' }
      :javascript
        _uacct = "UA-1080938-1";
        urchinTracker();
