#page

  %section#about

    %h2 I'm Paul Annesley

    %p
      I ride fixed
      &mdash;
      <a href="http://www.flickr.com/photos/paulannesley/3523156559/">This is my bike</a>.
      I <a href="http://www.flickr.com/photos/paulannesley/sets/72157612122288057/">built it</a>.

    %p
      I love coffee &mdash;
      tweaking the grind each day to turn seven grams of freshly roasted arabica seeds into
      a perfect 22 second flow of viscous caramel-hued espresso.  Until somebody
      <a href="http://www.youtube.com/watch?v=DOpZMkD_F3w">catches me off guard with a video camera</a>.

    %p
      I write code &mdash;
      I push it to
      <a href="http://github.com/pda" rel="me" title="pda at GitHub">github.com/pda</a> because
      <a href="http://git-scm.com/" title="Git: distributed version control">Git</a> rocks,
      <a href="http://github.com/" title="GitHub">GitHub</a> rocks, and
      <a href="http://www.opensource.org/" title="OSI: Open Source Initiative">open source</a> rocks.
      My language of choice is
      <a href="http://www.ruby-lang.org/" title="Ruby Programming Language">Ruby</a>,
      and I sometimes have some fun with
      <a href="http://www.python.org/" title="Python Programming Language">Python</a>,
      <a href="http://en.wikipedia.org/wiki/JavaScript" title="JavaScript - Wikipedia">JavaScript</a>,
      <a href="http://en.wikipedia.org/wiki/C_(programming_language)">C</a>,
      <a href="http://en.wikipedia.org/wiki/Objective-C">Objective-C</a>,
      or whatever the
      <a href="http://golang.org/" title="The Go Programming Language">flavour</a>
      <a href="http://en.wikipedia.org/wiki/Erlang_(programming_language)" title="The Erlang Programming Language">of</a>
      <a href="http://www.scala-lang.org/" title="The Scala Programming Language">the</a>
      <a href="http://www.lua.org/" title="The Programming Language Lua">month</a>
      happens to be.

    %p
      I build the Internet &mdash;
      more specifically, I'm
      <a href="http://au.linkedin.com/in/paulannesley" rel="me" title="Paul Annesley on LinkedIn">Lead Developer</a> at
      <a href="http://99designs.com/">99designs</a>,
      where I work with a
      <a href="http://99designs.com/help/aboutus#team" title="99designs team photo">team of awesome people</a>
      on the cool tech required to
      scale millions of requests and terabytes of data into the much-hyped
      cloud that was once called the Internet.


    %h2 This Site

    %p
      This site is powered by
      <a href="http://github.com/pda/pacc-piccolo/raw/master/piccolo.rb" title="piccolo.rb on GitHub">~180 lines of Ruby</a>,
      written sans-framework upon
      <a href="http://rack.rubyforge.org/" title="Rack: a Ruby Webserver Interface">Rack</a>.
      From it will be extracted Piccolo, a near-weightless blog platform that reads
      posts, links and pages from flat-files containing
      <a href="http://haml-lang.com/" title="HAML: markup haiku">HAML</a>,
      <a href="http://yaml.org/" title="YAML: human friendly data serialization">YAML</a> and
      <a href="http://daringfireball.net/projects/markdown/" title="Markdown: text-to-HTML conversion tool for web writers">Markdown</a>.
      Inspired by
      <a href="http://github.com/cloudhead/toto" title="cloudhead's toto on GitHub">toto</a>,
      it's ideal for running on
      <a href="http://heroku.com/">Heroku</a>.
      Piccolo will likely be ported to the
      <a href="http://www.sinatrarb.com/">Sinatra</a>
      framework shortly &mdash the bare-metal coding was half proof-of-concept and half
      <a href="http://codegolf.com/" title="Code Golf: Good Code Ruined?">golf</a>, to be honest.

    %p
      %strong Update:
      <a href="http://github.com/pda/pacc-piccolo/blob/master/piccolo.rb" title="piccolo.rb on GitHub">Piccolo is now a ~77 line library</a>
      providing an API to the YAML+Markdown content; posts and links.
      The site is otherwise powered by
      <a href="http://github.com/pda/pacc-piccolo/blob/master/config.ru" title="config.ru on GitHub">~25 lines of rackup</a>
      (legacy redirects etc) and
      <a href="http://github.com/pda/pacc-piccolo/blob/master/pacc.rb" title="pacc.rb on GitHub">~36 lines of web application</a>
      built on the excellent
      <a href="http://www.sinatrarb.com/" title="Sinatra">Sinatra</a>.


    %h2 Archaeology

    %p
      This site was previously powered by a crazy-heavy stack of all sorts of
      cool open source HTTP-speaking components including
      <a href="http://ruby-lang.org/" title="Ruby Programming Language">Ruby</a>,
      <a href="http://www.sinatrarb.com/" title="Sinatra: Ruby web framework">Sinatra</a>,
      <a href="http://rfeedparser.rubyforge.org/" title="rFeedParser: Universal Feed Parser in Ruby">rFeedParser</a>,
      <a href="http://couchdb.apache.org/" title="The CouchDB Project">CouchDB</a>,
      <a href="http://tokyocabinet.sourceforge.net/index.html" title="Tokyo Cabinet: a modern implementation of DBM">Tokyo Cabinet</a> +
      <a href="http://tokyocabinet.sourceforge.net/tyrantdoc/" title="Tokyo Tyrant: network interface of Tokyo Cabinet">Tokyo Tyrant</a>,
      <a href="http://code.macournoyer.com/thin/" title="Thin: Ruby web server">Thin</a>,
      <a href="http://www.nginx.net/" title="nginx: fast HTTP server/proxy">nginx</a> and
      <a href="http://varnish.projects.linpro.no/" title="Varnish: HTTP caching proxy">Varnish</a>.
      Carbon dated fossils show that ancient incarnations were powered by
      <a href="http://www.djangoproject.com/" title="Django: Python web framework">Django</a> +
      <a href="http://www.python.org/" title="Python Programming Language">Python</a>,
      <a href="http://php.net/" title="PHP: Hypertext Preprocessor">PHP</a>,
      and even
      <a href="http://wordpress.org/" title="WordPress: Blog Tool and Publishing Platform">WordPress</a> once upon a time.

